@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

#root{
    background-color: black;
    min-height: 100vh;
    height: auto;
    position: relative;
    overflow-x: hidden;
    font-family: Ubuntu, sans-serif;
}
.active{
    color: #2562E8;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
    }
  }
  .animate{
    animation-name: scaling;
    animation-delay: 200ms;
    animation-duration: 500ms;
    animation-timing-function: linear;
    translate: 7rem;
    animation-fill-mode: forwards;
  }
  
  @keyframes scaling {
    0% {
      translate: 7rem;
    }
    
    100% {
      translate: 0;    
    }
  }